:root {
  --main-background-color: #eeeeee;
  --main-color: #3a4d5f;

  --second-color: white;
  --footer-color: rgb(13, 13, 20);

  --main-height: 80vh;
}

html,
body,
#root,
.App {
  height: 100%;
  overflow: auto;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  
}

#root {
  background-color: var(--main-color);
  width: 90%;
  margin: auto auto;
  border-top: 5px solid var(--main-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

body {
  padding-top: 1%;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  min-height: var(--main-height);
}

header {
  min-height: 20vh;
}

footer {

  min-height: 10vh;
  background-color: var(--footer-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {

  #root {
    width: 100%;
    border-radius: 0;
  }

  body {
    padding-top: 0%;

  }
}