:root {
  --main-background-color: #eeeeee;
  --main-color: #3a4d5f;

  --second-color: rgba(255, 255, 255, 0.87);
  --footer-color: rgb(13, 13, 20);

  --hover-color:#314150;

  --main-height: 80vh;
}

html,
body,
#root {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  padding-top: 1%;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  color: var(--second-color);
  background-color: var(--main-color);
  width: 90%;
  margin: auto auto;
  border-top: 5px solid var(--main-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.header {
  min-height: 20vh;
}

.main {
  min-height: var(--main-height);
}

.footer {

  min-height: 10vh;
  background-color: var(--footer-color);
}



@media only screen and (max-width: 768px) {

  #root {
    width: 100%;
    border-radius: 0;
  }

  body {
    padding-top: 0%;

  }
}