.page {
  display: flex;
  min-height: var(--main-height);
}

.page__article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: var(--main-height);
  margin: auto auto;
  width: 80%;
  padding-bottom: 2em;
}

.page__article--lostList {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  flex-wrap: wrap;
  justify-content: center;
  min-height: var(--main-height);
  width: 80%;
  & h1 {
    padding-top: 2em;
    padding-bottom: 1em;
    margin: auto auto;
  }
}

.page__nav--left {
  border-right: 2px solid var(--second-color);
  border-top: 2px solid var(--second-color);
  min-height: var(--main-height);
  width: 20%;
}

.page__nav--right {
  border-left: 2px solid var(--second-color);
  border-top: 2px solid var(--second-color);
  min-height: var(--main-height);
  width: 20%;
}


@media only screen and (max-width: 768px) {
  .page__nav--left,.page__nav--right{
      display: none;
  }

  .page__article, .page__article--lostList {
      width: 100%;
  }

}