.header__img {
    height: 6em;
}

.header__section--top {
    display: flex;
    justify-content: space-between;

}

.header__section--right {
    display: flex;
    margin-top: auto;
    margin-bottom: 1em;
    margin-right: 2em;
    justify-content: space-between;

    & a {
        margin-left: .5em;
        margin-right: .5em;
    }
}

@media only screen and (max-width: 768px) {

    .header__section--top {
        display: flex;
        flex-direction: column;

    }

    .header__section--right {
        padding-top: 1em;
        display: flex;
        margin-top: auto;
        justify-content: space-around;
        align-self: center;
        
    }
}