.header__img {
    height: 6em;
}

.header__section--top {
    display: flex;
    justify-content: space-between;

}

.header__section--right {
    display: flex;
    margin-top: auto;
    margin-bottom: 1em;
    margin-right: 2em;
    justify-content: space-between;

    & a {
        margin-left: .5em;
        margin-right: .5em;
    }
}