.footer__ul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding-bottom: 4em;
  margin: 0;

  & li {
    padding: 0 2em;
  }
}

.footer__img {
  height: 6em;
  display: block;
  margin: auto auto;
  padding-bottom: 2em;
}