
.lost-section {
    display: flex;
    min-height: var(--main-height);
}

.lost-right-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: var(--main-height);
    width: 80%;
}

.lost-left-section {
    border-right: 2px solid var(--second-color);
    border-top: 2px solid var(--second-color);
    min-height: var(--main-height);
    width: 20%;
}