
.lost-section {
    display: flex;
    flex-wrap: wrap;
    min-height: var(--main-height);
}

.lost-right-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    min-height: var(--main-height);
}

.lost-left-section {
    border-right: 2px solid var(--second-color);
    min-height: var(--main-height);
}