:root {
    --main-background-color: #eeeeee;
    --main-color: #3a4d5f;

    --second-color: white;
    --footer-color: rgb(13, 13, 20);
}

h1,h2,h3,h4,h5,h6,p {
    color: var(--second-color);
}
body {
    background-color: var(--main-background-color);
}

.my-body {
    background-color: var(--main-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--second-color);
    border-radius: 5px;
    width: 90%;
    padding-top: 1%;
    margin: auto auto;
}

main {
    min-height: 90vh;
}

.nav-logo,
footer {
    height: 10vh;
}

footer {
    background-color: var(--footer-color);

}

img {
    object-fit: contain;
}

.nav-logo img {
    width: auto;
    height: 100%;
    max-width: 40%;
    margin-left: 10px;
    object-fit: contain;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%;
    object-fit: contain;
}


header nav {
    margin-top: 10px;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
}

header nav .nav-logo {
    display: flex;
    flex-flow: row;
    align-items: center;

}


header nav ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

header nav ul li {
    padding: 0 0.2em;
}

header a {
    text-decoration: none;
    color: var(--main-color);
    padding-top: .5em;
    padding-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
}


header a:hover {
    background-color: var(--main-color);
    color: var(--main-background-color);
    border-style: solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-width: 1px;
    border-color: var(--main-color);
    text-decoration: none;
}



a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.my-article {
    display: flex;
}

.my-nav {
    width:20%;
    border-right: 1px solid var(--second-color);
}

.my-nav a {
    text-decoration: none;
    color: var(--second-color);
    padding-top: .5em;
    padding-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
}


.my-nav a:hover {
    background-color: var(--second-color);
    color: var(--main-color);
    text-decoration: none;
}

.my-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.my-main {
    width: 80%;
    padding-left: 5px;
}

.my-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.my-section div {
    width: 33%;
    height: 70%;
    align-items: center;
}

.my-section div div {
    width:50%;
    border: 2px solid var(--second-color);
    border-radius: 15px;
    margin: auto auto;
    overflow:hidden;
}


.my-section p {
    width: 50%;
    margin: auto auto;
    padding-bottom: 2.5em;
}

.my-section  img {
    width: 100%;
    height:100px;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .my-body {
        border-style: solid;
        border-width: 0px;
        width: 100%;
    }
}

