.nav {
    margin-top: 10px;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);

    & ul {
        display: flex;
        flex-flow: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-left: 10px;

        & li {
            padding: 0 0.2em;
        }
    }
}

.nav__a {
    text-decoration: none;
    color: var(--main-color);
    padding-top: .5em;
    padding-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;

    &:hover {
        background-color: var(--main-color);
        color: var(--main-background-color);
        border-style: solid;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-width: 1px;
        border-color: var(--main-color);
        text-decoration: none;
    }
}


@media only screen and (max-width: 768px) {
    
}

.nav--vertical {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    & ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        float: left;
    
        & li {
            padding: 0 0.2em;
        }
    }

    
}

@media only screen and (max-width: 768px) {
    .nav, .nav--vertical {
        display: none;
    }

}